.container
    //- Header
    h1.resume_header-title Harrison Kwik
    h2.resume_header-subtitle
        for item, i in public._data.info
            span!= item + (i < public._data.info.length - 1 ? ' &mdash; ' : '')
    //- Education section
    h2.resume_title Education
    dl.resume_section
        for section in public._data.education
            dt.resume_item-summary
                .resume_item-title
                    h3
                        span #{section.school},
                        span= section.location
                        span.title-right= section.period
                .resume_item-subtitle
                    h4
                        em #{section.degree},
                        span= section.major
                        span (#{section.status})
                        if section.gpa
                            span.title-right GPA: #{section.gpa}
            if section.coursework
                dd.resume_item-description
                    //- ul.resume_item-list.list-inline
                    span= 'Upper-division coursework: '
                    for course, i in section.coursework
                        span= course.name + (i < section.coursework.length - 1 ? ', ' : '')
    //- Work section
    h2.resume_title Work Experience
    dl.resume_section
        for section in public._data.work
            dt.resume_item-summary
                .resume_item-title
                    h3
                        span #{section.position},
                        span= section.employer
                        span.title-right= section.period
            dd.resume_item-description
                p= section.description
    //- Projects section
    h2.resume_title Projects
    dl.resume_section
        for section in public._data.projects
            p.resume_item-block
                //- Unfortunate, hack-y, whitespace
                span #{section.name},
                if section.location
                    span= ` ${section.location} `
                span (
                for tool, i in section.tools
                    span= tool + (i < section.tools.length - 1 ? ', ' : '')
                span= ') '
                span &mdash;
                span= ` ${section.description}`
    //- Skills section
    h2.resume_title Skills
    dl.resume_section
        for section, name in public._data.skills
            ul.resume_item-list.list-inline
                li #{name}:
                for skill, i in section
                    //- Cute way to exclude last item
                    li= skill + (i < section.length - 1 ? ',' : '')
