.resume_container
    //- Header
    div.resume_photo
        img(src="assets/img/me.jpg")
    h1.resume_header-title Harrison Kwik
    h2.resume_header-subtitle
        for item, i in public._data.info
            span!= item + (i < public._data.info.length - 1 ? ' &mdash; ' : '')
    div.resume_header-lastchanged Last updated #{public._data.meta.updated}
        if public._data.meta.construction
            span &mdash; Content still under construction
    //- Education section
    h2.resume_title Education
    dl.resume_section
        for section in public._data.education
            dt.resume_item-summary
                .resume_item-title
                    h3
                        span #{section.school},
                        span= section.location
                        span.title-right= section.period
                .resume_item-subtitle
                    h4
                        em #{section.degree},
                        span= section.major
                        if section.gpa
                            span.title-right GPA: #{section.gpa}
            if section.coursework
                dd.resume_item-description
                    //- ul.resume_item-list.list-inline
                    span= 'Upper-division coursework: '
                    for course, i in section.coursework
                        span= course.name + (i < section.coursework.length - 1 ? ', ' : '')
    //- Work section
    h2.resume_title Work Experience
    dl.resume_section
        for section in public._data.work
            dt.resume_item-summary
                .resume_item-title
                    h3
                        span #{section.employer},
                        span= section.position
                        span.title-right= section.period
            ol.resume_item-bullet
                for bullet in section.description
                    li
                        span= bullet
    //- Publications section
    h2.resume_title Publications
    dl.resume_section
        for section in public._data.publications
            dt.resume_item-summary
                .resume_item-title
                    h3
                        span= section.authors
                        span= section.title
                        span= `(${section.time})`
                p= section.location
            dd.resume_item-description
                p= section.description
    //- Projects section
    h2.resume_title Projects
    dl.resume_section
        for section in public._data.projects
            dt.resume_item-summary
                .resume_item-title
                    h3
                        if section.location
                            span #{section.name},
                            span= `${section.location}`
                        else
                            span= section.name
                        span (#{section.summary})
                        if section.url
                            i &mdash; #{section.url}
                        span.title-right= section.period
            ol.resume_item-bullet
                for bullet in section.description
                    li
                        span= bullet
                li.it
                    span Technologies: 
                    for tool, i in section.tools
                        span= tool + (i < section.tools.length - 1 ? ', ' : '')

    //- Skills section
    h2.resume_title Skills
    dl.resume_section
        for section, name in public._data.skills
            ul.resume_item-list.list-inline
                li #{name}:
                for skill, i in section
                    //- Cute way to exclude last item
                    li= skill + (i < section.length - 1 ? ',' : '')
div.resume_footer Designed and built by Harrison Kwik using 
    a(href="http://harpjs.com/") Harp
    span , code lives on 
    a(href="https://github.com/RESPRiT/resprit.github.io") GitHub

div.resume_minifooter Inspired by Sarah Lim's amazing 
    a(href="http://sarahlim.com/") personal website